Server closes 404 HTTP connections without indicating it will

I'm experiencing an issue where I'm checking for the existence of a particular file in a blob table using the `HEAD` method suggested in the docs. I happen to be using an application that is breaking because it is assuming the connection is not terminated and tries to use the same connection again. 

OS:      32-bit  Kubuntu 14.04 LTS
Crate:  0.52.4

Basically, you can see this for yourself if you create a blob table, say _"myblobs"_ then put one entry into it. Then start `telnet` and send a `HEAD` request for the blob you just put in. You'll notice that the connection stays open. Now try the `HEAD` request for an arbitrary string identifier you haven't put in (I'm not sure it even needs to be a valid `SHA1` digest). You'll notice that the connection is immediately dropped after the `404` response. This happens even if the `404` request is the first one made in the `telnet` session.

Is this behaviour by design? In either case, would it not be proper to indicate that this will happen with a **`Connection: close`** header? [Section 14.10 of RFC2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.10) suggests that the server should send this header. 

The application I'm working on uses Golang's `http.Client` which relies on this being set. If the connection is closed without the header then future requests are attempted on the same connection and an `EOF` is immediately encountered (only in the context of the new request, which makes it hard to debug).

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29390443-server-closes-404-http-connections-without-indicating-it-will?utm_campaign=plugin&utm_content=tracker%2F505659&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F505659&utm_medium=issues&utm_source=github).
</bountysource-plugin>

Thanks for pointing this out.
I've created a PR with a fix (https://github.com/crate/crate/pull/3129).

But I think the spec doesn't really require the `Connection: close` header - it's something the server "should" include. But it is not necessary. See [8.1.2.1 Negotiation](http://www.w3.org/Protocols/rfc2616/rfc2616-sec8.html)
So maybe this is something the Golangs http client should be able to handle?

Thanks for creating the PR. I think the intention might have been missed in the way I phrased it though. I meant to say its okay if the server closes the connection. It would just be nice if it indicated to the client that it was about to do so. I understand that sometimes closing it may be the appropriate thing to do. I wanted to try my hand at a PR myself but got a bit lost in the code.

I know the spec only suggests it and, yes, clients should really be more robust. But if its not too onerous to accomplish, I think more compliance with the spec is better. There's currently an open issue about the way Golang handles this (https://github.com/golang/go/issues/9122). Basically, they expect absolute compliance with the standard so when you encounter a server that neglects this recommendation, you get cryptic errors in places far from where the problem started.  

I think I understood you correctly =)
The PR also includes setting the `Connection: close` if the client doesn't want keep-alive.

For all other cases keeping the connection open is probably the right thing to do (at least for "expected" errors like 404s)


Oh, sorry, I missed that in my scanning of the PR.